<div class="static_page">
<div class="servise_landing">
  <div class="container landing_block">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="landing_word col-md-8">
      <h1>
        <span class="start text-center font-weight-bold text-white">Let's Start</span><br>
        <span class="favo text-center font-weight-bold text-white">FAVO</span>
      </h1>
        <div class="col-md-4">

        </div>
        <div class="landing_btn col-md-5">
          <%=link_to "新規登録する",new_user_registration_path, class:"btn btn-primary btn-lg btn-block"%>
        </div>
      </div>

  </div>
 </div>
</div>

<div class="servise_about" id="about">
  <h1 class="intro-word text-center font-weight-bold">WHAT'S FAVO ?</h1>
  <div class="container">
    <div class="row justify-content-around">

      <div class="intro col-md-4">
        <div class="intro-image">
          <img src="/assets/good.png">
        </div>
        <p class="intro-text">お気に入りリストを作成できます</p>
      </div>
      <div class="intro col-md-4">
        <div class="intro-image">
          <img src="/assets/twitter.png">
        </div>
        <p class="intro-text">URLをコピーしSNS等に貼り付けることができます</p>
      </div>
      <div class="intro col-md-4 ">
        <div class="intro-image">
          <img src="/assets/ai.png">
        </div>
        <p class="intro-text">あなたの趣味に合ったユーザを見つけることができます（※工事中）</p>
      </div>
    </div>
  </div>
</div>
</div>
