<div class="static_page">
<div class="servise_landing">
  <div class="landing-container">
    <h1>
      <span class="title">Let's start</span>
      <span class="title">FAV !!</span>
    </h1>
    <!-- jQueryプラグインで文字にアニメーションを付ける -->
  </div>
    <%=link_to "新規登録する",new_user_registration_path, class:"new-btn btn btn-primary btn-lg"%>
</div>

<div class="servise_about" id="about">
  <h1 class="intro-word text-center font-weight-bold">WHAT'S FAV?</h1>
  <div class="container">
    <div class="row justify-content-around">

      <div class="intro col-md-4">
        <div class="intro-image">
          <img src="/assets/good.png">
        </div>
        <p class="intro-text">お気に入りリストを作成できます</p>
      </div>
      <div class="intro col-md-4">
        <div class="intro-image">
          <img src="/assets/twitter.png">
        </div>
        <p class="intro-text">URLをコピーしSNS等に貼り付けることができます</p>
      </div>
      <div class="intro col-md-4 ">
        <div class="intro-image">
          <img src="/assets/ai.png">
        </div>
        <p class="intro-text">あなたの趣味に合ったユーザを見つけることができます（※工事中）</p>
      </div>
    </div>
  </div>
</div>
</div>
