<h1 class="text-center font-weight-bold">検索結果</h1>
<!-- 検索結果があるとないときで分けたい -->
<% if @movies.any?%>
<div class="search-results">
    <% @movies.each do |movie| %>
      <div class="search-info">
      <%= movie.name%>
      </div>
    <%end%>
</div>
<%else%>
    <h1>なし</h1>
<%end%>
