
div
  a.twitter-share-button data-show-count="false" href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-hashtags="FAVO" data-text="FAVOでお気に入りリストを作成したよ！" data-url="https://favobykassy11.herokuapp.com/users/#{current_user.id}"
    Tweet
  script async="" charset="utf-8" src="https://platform.twitter.com/widgets.js"
