- array_number = @books["items"].length - 1
- results_number = array_number + 1
h1.text-center.font-weight-bold
  | 検索結果：
  =results_number
  | 件
.search-results.container
  - if @books.any?
    .row
      .card.col-sm-6.col-md-3.card-deck
        - for i in 0..array_number do
          - id = @books["items"][i]["id"]
          - book_id = id.encode!
          - title = @books["items"][i]["volumeInfo"]["title"]
          - authors = @books["items"][i]["volumeInfo"]["authors"]
          - publisher = @books["items"][i]["volumeInfo"]["publisher"]
          - img_url = @books["items"][i]["volumeInfo"]["imageLinks"]["smallThumbnail"] if @books["items"][i]["volumeInfo"].has_key?("imageLinks")
          - if img_url
            =link_to "/books/#{book_id}" do
              =image_tag(img_url, :class => "card-img-top rounded")
          - else
            =image_tag("no_image.jpg", :class => "card-img-top")
          .card-body
            h4.card-title
              = title
            - if authors
              p.card-text
                =authors[0]
            - else
              p.card-text
                =publisher
            =link_to '詳細',"/books/#{book_id}", :class => "btn btn-primary"
  - else
    .search-no-results
      h3
        | 残念ながら見つかりませんでした。
      =link_to '戻る',"/users/#{current_user.id}/book_index",:class => "btn btn-primary"
