<!-- <h1 class="text-center font-weight-bold">検索結果</h1> -->
<!-- 検索結果があるとないときで分けたい -->
<!-- <div class ="col-md-2">

</div> -->
<div class="search-results col-md-8">
  <%for i in 0..5 do%>
    <%=@books["items"][i]["volumeInfo"]["title"]%>
  <%end%>
</div>
