<h1 class="text-center font-weight-bold">検索結果</h1>
<!-- 検索結果があるとないときで分けたい -->
<div class="search-results">
    <% @books.each do |book| %>
      <div class="search-info">
        <%=book%>
      </div>
    <%end%>
</div>
