/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
 // @import "bootstrap-sprockets";
@import 'font-awesome';

 .logo {
   float: left;
   margin-right: 10px;
   margin-left: 20px;
   font-size: 1.7em;
   color: white;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
   &:hover {
     color: orange;
     text-decoration: none;
   }
 }

 #error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.alert {
  text-align: center;
  margin-bottom: 0;
}
.alert-info {
  background-color: #bde9ff;
  border-color: #bde9ff;
  color: #4c6977;
}

.alert-danger {
  background-color: #f3c0c0;
  border-color: #f3c0c0;
  color: #3e3a3a;
}

.search-result{
  margin-top: 30px;
  margin-bottom: 30px;
}


.search-form{
  margin-top: 30px;
}
// スマホ
@media screen and (max-width:820px) {
  .work-img{
    margin: 10px;
    width: 25%;
    height: 25%;
  }
  .btn-lg{
    font-size: 1.25rem;
  }
  .search-btn{
    font-size: 1.5rem !important;
    height: 4rem !important;

  }
}

// PC
@media screen and (min-width:821px) {
  .work-img {
    margin: 20px;
    width: 20%;
    height: 20%;
  }
  .btn-lg{
    font-size: 1.75rem;
  }

  .search-btn{
    font-size: 1.75rem !important;
    height: 5rem !important;
  }
}

.header-item{
  margin-right: 15px;
}

.card-title{
  padding-bottom: 40px;
}

.card-body{
  position: relative;
}

.list-btns{
  position: absolute;
  bottom: 10px;
}

.work-index{
  padding-top: 30px;
}



