// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.servise_landing{
  background-image: image-url('fav.jpg');
  background-size: cover;
  width:100%;
  height:600px;
}

.landing_word{
  padding-top: 150px;
}

.landing_btn{
  padding-top: 30px;
}


.home-word{
  font-size: 30px;
}

.servise_about{
  width:100%;
  padding-top:50px;
}


.start{
  font-size: 50px;
  letter-spacing: 0.2em;
}
.favo{
  font-size: 80px;
  letter-spacing: 0.5em;
}

.intro-word{
  padding-bottom:100px;
  font-size: 60px;
}

.intro-text{
  width: 80%;
  display: inline-block;
  padding-top:40px;
  font-size: 30px;
  color: #b3aeb5;
}

.intro-image img{
  width: 75%;
  transition-duration: 0.5s;
}

.intro-image:hover img{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
