// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_lists .copy-button{
  padding-top: 80px;
}

.list-btn{
  float: right;
}

.fav_list{
  margin-top: 30px;
}

//.card-title{
//  padding-bottom: 40px;
//}
//
//.card-body{
//  position: relative;
//}
//
//.list-btns{
//  position: absolute;
//  bottom: 3px;
//}
//

.fav-btn{
  margin-right: 10px;
}

