// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_info{
  padding-top: 20px;
}

.user_lists .copy-button{
  padding-top: 80px;
}

.fav_list{
  margin-top: 30px;
}

.fav-btn{
  margin-right: 10px;
}

.tab-word{
  font-size: 20px;
}

.tab-links{
  margin-bottom: 50px!important;
  padding-top: 20px;
}

@media screen and (max-width:820px){
  .user-form{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .list-btn{
    float: right;
    margin-right: 2px;
  }

  .no-works-wrap{
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width:821px) {
  .user-form{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .list-btn{
    float: right;
    margin-right: 10px;
  }

  .no-works-wrap{
    width: 50%;
    margin: 0 auto;
  }
}

.must {
  background: #FF1A00;
  color: #FFF;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 10px;
  letter-spacing: 0.2em;
}