<h1 class="text-center font-weight-bold">検索結果</h1>
<!-- 検索結果があるとないときで分けたい -->
<div class="search-results">
    <% @artists.each do |artist| %>
      <div class="search-info">
        <%= link_to(artist.name, "/musics/#{artist.id}")%>
          <% if artist.images.any?%>
            <%image = artist.images[1]%>
            <%= image_tag(image["url"])%>
          <%else%>
            <%=image_tag("no_image.jpg")%>
          <%end%>
      </div>
    <%end%>
</div>
